.leaflet-container {
  margin: 0.5rem;
  width: 60vh;
  height: 60vh;
}

.leaflet-container span {
  color: #333;
}

@media screen and (orientation: portrait) {
  .leaflet-container {
    width: 90vw;
    height: 90vw;
    max-height: 70vh;
  }
}
