#root {
  margin: 0 auto;
  text-align: center;
}

#logo {
  font-family: "Hachi Maru Pop", serif;
  font-weight: 400;
  font-style: normal;
}

.result {
  font-family: "Hachi Maru Pop", serif;
  font-weight: 400;
  font-style: normal;
  color: #c29afb;
  border: solid 2px #c29afb;
  border-radius: 10px;
  width: 12rem;
  font-size: 2rem;
  margin: 0 auto;
}

.result.correct {
  color: #f58b8b;
  border-color: #f58b8b;
}

.detail {
  margin: 0.5rem auto;
}

.answer .reloadButton {
  float: right;
}

.none {
  display: none;
}

.loader {
  margin: 0 auto;
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#FFF 94%,#FFFF);
  background:
    var(--_g) 0    0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0    100%;
  background-size: 40% 40%;
  animation: l38 .5s infinite; 
}
@keyframes l38 {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}
